<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <div id="dialog-header-span" class="modal-title col-12">
                    <h5></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true"> &times;</span>
                </button>
            </div>

            <div class="modal-body" id="dialog-message-div">
                <p>

                </p>
            </div>
            <div class="modal-footer" id="dialog-footer-div">
                <a href="#" type="button" class="btn btn-info" data-dismiss="modal" id="dialog-close-bttn">Close</a>
                <div class="row col-12" id="dialog-bttns" style="display:none"> </div>
            </div>
        </div>
    </div>
</div>
<span style="display:none">
    <form name="utility_form" id="utility-form">
       
        <input type="hidden" name="site_logo" id="site-logo" value="{{ options.logo }}" />
        <input type="hidden" name="start_time" id="start-time" value="{{ options.startTime }}" />
        <input type="hidden" name="time_out" id="time-out" value="{{ options.timeOut }}" />
        <input type="hidden" name="end_time" id="end-time" value="" />
        <input type="hidden" name="site_name" id="site-name" value="{{ options.siteName }}" />
        <input type="hidden" name="user_name" id="user-name" value="{{ options.userName }}" />
        <input type="hidden" name="previous_dest" id="previous-dest" value="{{ options.previousDest }}" />
        <input type="hidden" name="current_item" id="current-item" value="{{ options.currentTime }}" />
        <input type="hidden" name="is_confirmed" id="is-confirmed" value="{{ options.currentTime }}" />
        <input type="hidden" name="http_fetch_flag" id="http-fetch-flag" value="0" />
        <input type="hidden" name="last_item_clicked" id="last-item-clicked-id" value="" />
        <input type="hidden" name="current_item_type" id="current-item-type" value="" />
        <input type="hidden" name="placeholder_id" id="placeholder-id" value="" />
    </form>
    </span>